#Godot-specific ignores
.import/
*.import
export.cfg
export_presets.cfg

#Mono-specific ignores
.mono/

#csproj-specific ignores
*.old

#VisualStudio-specific ignore
.vs/

#VisualStudioCode-specific ignore
.vscode/

#Riders ignore
.idea/

#release ignore
release/